body {
}

#logo {
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    color: white;
    top: 20%;
    z-index: -1;
}

.navbar{
    background-color: #3C9EBC;
}

.main-sidebar
{
    padding-top: 50px;
}

input.form-control{
    font-size: medium;
}

#helpBox{
    margin: 10px 10px;
    background-color: #00ADEF;
}

#searchBar {
    background-color: #FFF;
}

#errorBox {
    margin-top: 1.5em;
}

#drugInfoBox
{
    margin-top: 1.5em;
}

#drugName {
    font-weight: 600;
}

.drugClass {
    font-weight: 600;
}

#drugFDACatagoryDiv{
    position: absolute;
    display: inline-flex;
    right: 1em;
    font-weight: 700;
}

.greenFDACategory{
    color: #00A625;
}
.yellowFDACategory{
    color: #F39C12;
}
.redFDACategory{
    color: red;
}